
<style>
	body {
	}
	.main-wrapper{
	    display: flex;
	    flex-direction: row;
	    max-width: 100vw;
	    flex-wrap: wrap;
	}
	.main-wrapper .topbar{
		flex: 0 0 100vw;
	    height: 55px;
	    max-width: 100%;
	    display: flex;
	    flex-direction: row;
	    border-bottom: 1px solid #ccc;
	    align-items: center;
	}
	.main-wrapper .topbar .icon{
		flex:0 0 260px;
		padding-left: 40px; 
	}	
	.main-wrapper .topbar .search{
		    flex: 0 0 29%;
		    padding-left: 30px; 
	}
	.main-wrapper .topbar .search input{
		font-family: 'Monospace';
	    border: 1px solid #ccc;
	    border-radius: 5px;
	    padding: 5px;
	    font-size: 17px;
	    width: 100%;
	    background: #fbfbfb;
	}
	.main-wrapper .topbar .search input:focus{
		outline: none
	}
	.main-wrapper .left-sidebar{
		flex:0 0 300px;
		position: relative;
	}
	.main-wrapper .left-sidebar .compose-button{
		margin: 10px auto;
    	padding-left: 40px;
	}
	.left-sidebar .compose-button button{
    	cursor: pointer;
		border: none;
		border-radius: 50px;
		transition: box-shadow .08s linear,min-width .15s cubic-bezier(0.4,0.0,0.2,1);
		box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    	-webkit-font-smoothing: antialiased;
    	background-color: #fff;
    	padding: 10px 20px;
    	font-size: 20px;
	}
	.left-sidebar .compose-button button:hover{
		box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
    	background-color: #fafafb;
	}

	.left-sidebar .compose-button button:focus{
		outline: none;
	}
	.left-sidebar .menu-list{
		border-top: 1px solid #ccc;
	    width: 100%;
	    font-size: 20px;
	} 
	.left-sidebar .menu-list ul{
		list-style: none;
		margin-left: 0;
    	padding-left: 0;
	}

	.left-sidebar .menu-list ul li{
		padding: 5px 10px 5px 30px;
		cursor: pointer;
	}
	.left-sidebar .menu-list ul li:hover,.left-sidebar .menu-list ul li.active{
    	background-color: #efeff1;
    	border-top-right-radius: 50px;	
    	border-bottom-right-radius: 50px;	
	}
	.left-sidebar .menu-list ul li.active{
    	background-color: #FADEDC;
    	color: #d93025;
    }
	.content{
		flex:1;
	}
	.form {
		font-size: 18px;
		margin-left: 30px;
		display: none;
		width: 100%;
		background: #F2F2F2;
		height: 90vh;


	}
	#id_topic{
		font-family: 'Monospace';	
		border-radius: 5px;
		padding: 15px;
		font-size: 17px;
		background: #fff;
	}
	#id_body {
		font-family: 'Monospace';
		border-radius: 5px;
		max-width: 900px;
		height: 300px;
		padding: 15px;
		font-size: 17px;
		margin:auto;
		background: #fff;
	}


	.slider {
		margin-top: 10px;
		position: absolute;
		margin-right: 30px;
		margin-left: auto;
		width: 50px;
		height: 50px;
		cursor: pointer;
		background-color: salmon;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 25px;
		width: 25px;
		top: 12px;
		right: 5px;
		left: 12px;
		bottom: 0px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}


	.switch input { 
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}
	.admin {
		padding: 15px 30px;
		border: 1px solid cornflowerblue;
		border-radius: 10px;
		font-size: 20px;
        background-color: cornflowerblue;
        color: whitesmoke;
	    cursor: pointer;
	    margin-left: 20.1%;
    	margin-top: 20px;

	}
	.admin:hover{
		color: cornflowerblue;
		background-color: whitesmoke;
		border: 1px solid cornflowerblue;

	}
	.admin:focus{
		outline: none;
	}
	#menu {
		height: 88vh;
		max-height: 88vh;
		width: 100%;
		overflow: scroll;
		overflow-x: hidden;
		margin-left: 10px;
	}
	.items {
		display: block;
		border: none;
		background-color: white;
		padding: 15px;
		font-size: 17px;
	}
	.items:hover{
    	background-color: #efeff1;
	}

	#page{
		position: relative;
		display: flex;
		flex-direction: row;
		padding-top: 10px;
	}
	button{ padding: 8px;
		font-size: 15px;}
		.arr-top{
			position: absolute;
		    right: 88px;
		    height: 35px;
		    width: 35px;
		    border: 1px solid transparent;
		    text-align: center;
		    cursor: pointer;
		    border-radius: 6px;
		    color: #c3c3c3;
		    font-weight: bold;
		    background: transparent;
		    top: 20px;
		}
		.arr-top:first-child{
			right: 6.7%
		}
		.arr {
			margin-left: 15px;
			height: 35px;
			width: 35px;
			border: 1px solid transparent;
			text-align: center;
			cursor: pointer;
			border-radius: 6px;
			color:#c3c3c3;
			font-weight: bold;
			position: absolute;
		    right: 120px;
		    top: -44px;
		    background: transparent;
		}
		.arr:hover,.arr-top:hover{
			box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
    		background-color: #fafafb;
		}
		.arr:last-of-type {
			right: 5%;
		}
		.arr:focus{
			outline: none;
		}

	</style>
	<div class="main-wrapper">
		<div class="topbar">
			<div class="icon">
				<img src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x.png" >
			</div>
			<div class="search">
				<input type="text" name="search" placeholder="Search">
			</div>
		</div>
		<div class="left-sidebar">
			<div class="compose-button"><button>Compose</button></div>
			<div class="menu-list">
				<ul>
					<li class="active">Inbox</li>
					<li>Sent</li>
					<li>Drafts</li>
					<li>Important</li>
				</ul>
			</div>
		</div>
		<div class="content">
			<button class="arr-top" >&lt; </button>
			<button class="arr-top" > &gt;</button>
			<form action="" method="POST">
				{% csrf_token %}
				<label id = "sl" class = "switch">
					<input id="sub" type="submit" value = "">
					<span class = "slider round"></span>
				</label>
				<div id="page">
					<div class="form">
						{{ form.topic.label }}<br/>
						{{ form.topic }}<br/><br/>
						{{ form.body.label }}<br/>
						{{ form.body }}<br/><br/>
						
					</div>
					<div id="menu"></div>
				</div>

			</form>
		</div>
	</div>

	<script>
		topics = {{topics | safe}}
		body = {{body | safe}}
		parsed = {{parsed | safe}}
		keys = {{ keys | safe }}
		console.log(keys)
		var menu = document.getElementById("menu")

		for(let i=0; i<topics.length; i++) {
			var link = document.createElement("div")
			link.setAttribute("class", "items")
			link.setAttribute("onClick","show("+(i)+")")
			var text = document.createTextNode(topics[i])
			link.appendChild(text)
			menu.appendChild(link)
		}
		let flag = 0
		function show(i) {
			console.log("flag = ",flag)
			
			var color = document.getElementsByClassName("slider round")[0].style.background
			if(flag == 0)
				{	var btn = document.createElement("button")
			var b = document.getElementById("sub")
			btn.setAttribute("id", "sub")
			btn.style.display = "none"
			btn.addEventListener("click", () => {
				parse(i);
				event.preventDefault();
			}
			)
			document.getElementById("sl").replaceChild(btn, b)
		}
		var form = document.getElementsByClassName("form")[0];
		document.getElementsByClassName("slider")[0].style.background = "salmon"
		var form_new = document.createElement("div")
		form_new.setAttribute("class", "form")
		var tl = document.createTextNode("Topic")
		var bl = document.createTextNode("Body")
		var topc = document.createElement("div")
		var br = document.createElement("br")
		topc.setAttribute("id","id_topic")
		topc.innerHTML = topics[i]
		var bod = document.createElement("div")
		var x = document.createElement("button")
		x.setAttribute("class","admin")
		x.innerHTML = "Main Menu"
		bod.setAttribute("id","id_body")	

		bod.innerHTML = ""
		body[i].split("\n").forEach((str) => bod.innerHTML += str + "<br>")
		
		console.log(bod.innerHTML)
		// form_new.appendChild(tl)
		form_new.appendChild(topc)
		form_new.appendChild(br)
		form_new.appendChild(br)
		// form_new.appendChild(bl)
		form_new.appendChild(bod)
		form_new.appendChild(x)
		var arr1 = document.createElement("button")
		var arr2 = document.createElement("button")
		arr1.innerHTML = "<--"
		arr2.innerHTML = "-->"
		arr1.setAttribute("class","arr")
		arr2.setAttribute("class","arr")
		arr1.setAttribute("onClick","show("+(i>0?(i-1)%topics.length:topics.length-1)+")")
		arr2.setAttribute("onClick","show("+((i+1)%topics.length)+")")
		form_new.appendChild(arr1)
		form_new.appendChild(arr2)
		document.getElementById("page").replaceChild(form_new, form)
		if(color === "rgb(84, 199, 105)")
			{ parser(i) ;
				document.getElementsByClassName("slider round")[0].style.background = "rgb(84, 199, 105)"
			}

			document.getElementById("menu").style.display="none"
			document.getElementsByClassName("form")[0].style.display="block"
			
	//	var btn = document.createElement("button")
	//	var b = document.getElementById("sub")
	//	btn.setAttribute("id", "sub")
	//	btn.style.display = "none"
	//	btn.setAttribute("onClick", "parse("+(i)+"); return false;")
	//	document.getElementById("sl").replaceChild(btn, b)
	++flag;
}

function parser(i) {


	var bodyog = body[i]
//    var final = []
//    body.forEach((str) => final = final.concat(str.split(" ")))
//      console.log("{{body|escapejs}}")

newkeys = new Object;
var k = 0;
var kys = JSON.parse(keys[i])
for(key in kys) {
	var c = 'key'+k;
	newkeys[c] = key;
	bodyog = bodyog.replace(key, c);
	k++;
}

bodyog = bodyog.split('\n');

document.getElementById("id_body").innerHTML = "";
bodyog.forEach((s) => {
	s.split(" ").forEach((str) => {
		var bdy = document.getElementById("id_body");
		str = str.replace(/[!"#%&'$()*.;,?]/g, "").trim();
		if(str in newkeys) {
			var button = document.createElement("button");
			t =kys[newkeys[str]];
			button.innerHTML = t;
			button.setAttribute("class","spk")
			bdy.appendChild(button);
			let x = new SpeechSynthesisUtterance(newkeys[str]);
			button.addEventListener("click", () => {
				speechSynthesis.speak(x); 
				event.preventDefault();
			});
			console.log(button)
		}
		else {
			t = document.createTextNode(str);
			bdy.appendChild(t);
		}
		space = document.createTextNode(" ");
		bdy.appendChild(space);
	})
	var bdy = document.getElementById("id_body");
	bdy.appendChild(document.createElement("br"));
})
}

function parse(i) {
	console.log(body[i])
	var form = document.getElementById("id_body")
	var s = "" 
	body[i].split("\n").forEach((str) => s+=str + "<br>")
	if(document.getElementsByClassName("slider")[0].style.background != "salmon")
	{
		form.innerHTML = s
		document.getElementsByClassName("slider")[0].style.background = "salmon"
	}
	else
	{
		parser(i)
		document.getElementsByClassName("slider")[0].style.background = "#54c769"
	}
}
document.getElementsByClassName('compose-button')[0].addEventListener("click", () => {
		document.getElementById("menu").style.display="none"
		document.getElementsByClassName("form")[0].style.display="block"
	}
)
</script>

